

/* -----------------------inicio generales a todas las paginas----------- */
/*TIPOGRAFIA*/

h1 {
    font-size: 60px;
    font-weight: 800;
    color: #F8F8F8;
}

h2 {
    font-size: 35px;
    font-weight: 800;
    color: #090c26;
}

h3 {
    font-size: 25px;
    font-weight: 800;
    color: #090c26;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    font-weight: 400;
    color: #090c26;
}

p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body-grid-container{
    font-family: 'Manrope', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 
                        114px
                        300px
                        auto
                        114px;
    grid-template-areas: 
                "header"
                "banner"
                "main"
                "footer";
    overflow-x: hidden;
    background-color: #F8F8F8;
}

.header{
    grid-area: header;
    background-color: #F9C645;
    display: grid;
    grid-template-columns: auto 500px ;
}
.logo-header{
    display: flex;
    align-items: center;
    padding-left: 3vw;
}
.header>nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3vw;
}

.navbar-list{

    display: flex;
    flex-direction: row;
    gap:5px;
}
.navbar-list *{
    list-style: none;
}

.banner{
    grid-area: banner;
    background-color: goldenrod;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto;
}
.foto-banner {  
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto-principal {
    filter: brightness(50%);
    object-fit: cover;
}

.frase-banner{
    font-size: 60px;
    font-weight: 800;
    color: #F8F8F8;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #F8F8F8;
}
.barra-indicar-seccion {
    background-color: #6A76E5;
}

.barra-indicar-seccion .nombre-seccion {
    position: relative;
    left: 3%;
    top: 30%;
}


.main{
    grid-area: main;
    max-width: 1200px;
    justify-self: center;
    margin: 0% 5%;

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 350px auto;
    grid-template-areas: "presentacion foto"
                        "contenido contenido";
    position:relative;
    overflow-y: clip;
}
.presentacion-seccion{
    grid-area: presentacion;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
}
.main-photo{
    grid-area:foto;
    width: 400px;
    height: 400px;
    right: -80px;
    top: -100px;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
}
.presentacion-proyectos{
    grid-area:contenido;
}

/*FOOTER*/
.footer{
    display: relative;
    grid-area: footer;
    background-color: #F9C645;
    display: grid;
    grid-template-areas: "logo header" 
                        "logo iconos";
    grid-template-rows: 30% 70%;
    grid-template-columns:  0% auto;
}

.titulo-footer {
    grid-area: header;
    text-align: center;
    width: 100%;

}

/* CONTENEDOR DE LA LISTA DE CONTACTOS */
.datos-contacto {
    grid-area: iconos;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* LISTA DE CONTACTOS */
.contactos {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.icono-footer {
    grid-area: logo;
    width: 200px;
    display: grid;
    align-items: center;
    padding-left: 3vw;
}

/* -----------modelo pareaja icono-texto -------- */
/*  CONTENEDOR DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto {
    display: flex;
    flex-direction: column;
}

/* MITADES CONTENEDOR DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto div {
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
}

/* IMAGEN DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto img {
    align-self: flex-end;
}

/* TEXTO DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto h6 {
    text-align: center;
}

/* --------Fin modelo pareja----- */


img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    animation-fill-mode: forwards;
    transition: all 0.2s ease;
}
.boton-estilo {
    background-color: #F9C645;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

/* -----------------------fin generales a todas las paginas----------- */




/* -------------------inicio proyectos activos ----------------- */

/* ---------------lista de tarjetas proyectos---------- */
.lista-proyectos{
    margin: 50px 0px;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ------------tarjetas------------- */

.tarjeta-proyecto{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.tarjeta-proyecto img{
    height: 300px;
    width: 100%;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgb(0 0 0 / 25%);
    /* por definirle un ancho y alto irregular las estaba estirando 
    asi que lo resuelvo con  */
    object-fit: cover;
}
.tarjeta-proyecto button{
    width: 360px;
    height: 35px;
}
.tarjeta-proyecto .mas-info{
    width: 300px;
    height: 300px;
    background-color: #6A76E5;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

/* -------------------fin proyectos activos ----------------- */

/* -------------------inicio pagina donaciones----------------- */
.donaciones-grid-container{
    grid-area:contenido;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: "info info"
                         "foto botonera";
}
.info-donaciones{
    grid-area:info;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foto-lateral-elipse{
    position: relative;
    grid-area:foto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    display: flex;
    left: -150px;
    top: 90px;
}


.objetivos-donaciones{
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 650px;
}
.objetivos-donaciones.variante-a{
    border: solid 5px #F9C645;
}
.objetivos-donaciones.variante-b{
    border: solid 5px #6A76E5;
}
.objetivos-donaciones *{
    margin: 0px 20px;
}


/* BOTONERA DONAR */

.botonera-donar{
    grid-area: botonera;
    width: 100%;
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.botonera-info{
    align-self: center;
    width: 65%;
    text-align: center;

}
.donaciones-lista{
    list-style: none;
}
.donaciones-lista>li, .donaciones-lista p, .donaciones-lista button{
    margin: 20px 0;
}

.donaciones-lista p{
    font-size: 20px;
    line-height: 1.6;
}

.donaciones-lista button{
    width: 100%;
    height: 60px;
    font-size: 20px;

    font-weight: 500;
    border: none;
}

.donacion-unica .boton-estilo{
    background-color: #6A76E5;
}

/* -------------------fin pagina donaciones----------------- */

@media screen and (max-width: 576px) {

    .header{
        grid-template-rows: auto auto;
        grid-template-columns: auto ;
        justify-content: center;
    }
    .logo-header{
        justify-content: center;
    }
    
.frase-banner{
    top: 16%;
}

    .main{

        margin: 0% 0%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "presentacion" 
                            "foto"
                            "contenido";
        gap: 30px;
        justify-content: center;
        padding: 0px 3vw;

    }
    .main-photo{
        position: static;
        justify-self: center;
    }


    .donaciones-grid-container{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "info"
                             "foto"
                             "botonera";
    }
    .foto-lateral-elipse{
        position: static;
        top: 0px;
        left: 0px;
        justify-self: center;
    }
  }

  @keyframes zoom{
    to{
        transform: scale(1.5);
    }
  }

  img:hover{
    animation-name:zoom;
    animation-duration: 4s;
    transition: all 0.2s ease;
  }


  /* -----------------inicio donde estamos----------------- */

  .contenedor-mapa{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contenedor-mapa iframe{
    height: 100%;
    width: 45%;
}


  /* -----------------final donde estamos----------------- */