* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width:100%;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    position: relative;
    background-color: #F8F8F8;
}

/*HEADER*/

header {
    background-color: #F9C645;
    width: 100%;
    height: 114px;
    left: 0px;
    top: 0px;
}

header ul li a {
    text-decoration: none;
    padding: 5px;
}

.menu ul li {
    display: inline;
    list-style: none;
}


.botones-header {
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #090c26;

}

.logo-header {
    position: relative;
    left: 50px;
    top: 30px;
    width: 100px;

}

/* MENU */
.menu {
    position: absolute;
    right: 30px;
}

/* MAIN */

main {
    width: 1024px;
    margin: 0px auto;
    overflow-y: clip;
    padding-bottom: 200px;
}

/*IMAGEN DE ABAJO DEL HEADER*/

#foto-banner .foto-principal {
    width: 100%;

}

/* CONTENEDOR DE LA FOTO ABAJO DEL HEADER */
#foto-banner {  
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.frase-banner {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #F8F8F8;
}

.foto-principal {
    filter: brightness(50%);
}

/* BARRA PARA INDICAR SECCION */

#barra-indicar-seccion {
    background-color: #6A76E5;
    width: 100%;
    height: 20%;
}

#barra-indicar-seccion .nombre-seccion {
    position: relative;
    left: 3%;
    top: 30%;
}


/*FOOTER*/

footer {
    margin-top: 30px;
    background-color: #F9C645;
    text-decoration: none;
    width: 100%;
    height: 114px;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.titulo-footer {
    text-align: center;
    width: 100%;

}

/* CONTENEDOR DE LA LISTA DE CONTACTOS */
.datos-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* LISTA DE CONTACTOS */
.contactos {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.icono-footer {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 50px;

}

/* -----------modelo pareaja icono-texto -------- */
/*  CONTENEDOR DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto {
    display: flex;
    flex-direction: column;
}

/* MITADES CONTENEDOR DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto div {
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
}

/* IMAGEN DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto img {
    align-self: flex-end;
}

/* TEXTO DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto h6 {
    text-align: center;
}

/* --------Fin modelo pareja----- */

/*IMAGEN ELIPSE-DERECHA-ARRIBA*/

#foto-lateral-elipse {
    border-radius: 50%;
    width: 30%;

    overflow: hidden;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
}

aside>img {
    width: 100%;
    height: 100%;
}


/*TEXTO INICIAL DE CADA PÃGINA*/

#presentacion-seccion {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 400px;
    gap: 30px;
    padding: 100px 25% 0 3%;

}
/* CONTENEDOR DE LA FOTO DE MAIN */
#presentacion-seccion>.main-photo {
    position: absolute;
    width: 400px;
    height: 400px;
    right: -120px;
    top: -100px;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    

}
/* FOTO DE MAIN */
.main-photo>img{

}

.main-header h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    color: #6A76E5;
}

.main-paragraph p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

/*TIPOGRAFIA*/

h1 {
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #F8F8F8;
}

h2 {
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #090c26;
}

h3 {
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #090c26;
}

h4 {
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #090c26;
}

p {
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #000;
}

/* BANNER */

.banner {
    width: 100%;
    height: 300px;
}



.boton-estilo {
    background-color: #F9C645;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}