*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    font-weight: 800;
    color: #F8F8F8;
}

h2 {
    font-size: 35px;
    font-weight: 800;
    color: #090c26;
}

h3 {
    font-size: 25px;
    font-weight: 800;
    color: #090c26;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-weight: 600;
}

h6 {
    font-size: 10px;
    font-weight: 400;
    color: #090c26;
   text-align: center;
}

p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

body *{
    font-family: 'Manrope', sans-serif;
    
}
.row-main{
    background-color: #7b757519;
    
}



.navbar{
    background-color: #F9C645;
}


/* banner */


.row-banner{
    height: 300px;
    overflow: hidden;
}
.col-banner{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-banner p{
    position: absolute;
    align-self: center;
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #F8F8F8;
}


.col-banner img{
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

/* nombre-pagina */

.row-nombre-pagina{
    background-color: #6A76E5;
    height: 80px;
}

.col-nombre-pagina{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20%;
}



/* imagen aside */

.col-image-aside{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-image-aside img{
    height: 100%;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.col-resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-propuestas{
    margin-bottom: 50px;
}

.row-content{
    padding: 30px 0px;

}
.container-main>.row{
    justify-content: center;
}


/* -------Index------ */
/* -----------modelo pareaja icono-texto -------- */
.row-propuestas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

}
/*  CONTENEDOR DE PAREJA ICONO-TEXTO */
.propuesta {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border: 9px solid #F9C645;
    
}

/* MITADES CONTENEDOR DE PAREJA ICONO-TEXTO */
.propuesta div {
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
}

/* IMAGEN DE PAREJA ICONO-TEXTO */
.icono-propuestas {
    align-self: flex-end;
    height: 70px;
}


/* TEXTO DE PAREJA ICONO-TEXTO */
.descripcion-propuestas{
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: small;

}
.propuestas-azul{
    border: 9px solid #6A76E5;
}
.icono-dif div{
    padding: 0%;
    height: auto;
}

/* --------Fin modelo pareja----- */



/* integrantes */
.presentacion-equipo{
    padding-top:  30px;
}
.foto-integrante {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.foto-integrante img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
}

.directivos,.docentes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.titulo-equipo{
    text-align:center;
}



/* ----------Index------- */


















/* footer */
.row-footer{
    display: relative;
    background-color: #F9C645;

}
.row-footer ul{
    padding:0px;
}

.titulo-footer {
    /* grid-area: header; */
    text-align: center;
    width: 100%;

}

/* CONTENEDOR DE LA LISTA DE CONTACTOS */
.datos-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

/* LISTA DE CONTACTOS */
.contactos {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.row-footer>.col-icono {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* -----------modelo pareaja icono-texto -------- */
/*  CONTENEDOR DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto {
    display: flex;
    flex-direction: column;
}

/* MITADES CONTENEDOR DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto div {
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
}

/* IMAGEN DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto img {
    align-self: flex-end;
}

/* TEXTO DE PAREJA ICONO-TEXTO */
.contenedor-icono-texto h6 {
    text-align: center;
}

/* --------Fin modelo pareja----- */


/* ---------------lista de tarjetas proyectos---------- */

.presentacion-proyectos>.header{
    display: flex;
    justify-content: center;
}
.lista-proyectos{
    margin: 50px 0px;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ------------tarjetas------------- */

.tarjeta-proyecto{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.tarjeta-proyecto img{
    height: 300px;
    width: 100%;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgb(0 0 0 / 25%);
    /* por definirle un ancho y alto irregular las estaba estirando 
    asi que lo resuelvo con  */
    object-fit: cover;
}
.tarjeta-proyecto button{
    width: 360px;
    height: 35px;
}
.tarjeta-proyecto .mas-info{
    width: 300px;
    height: 300px;
    background-color: #6A76E5;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    animation-fill-mode: forwards;
    transition: all 0.2s ease;
}
.boton-estilo {
    background-color: #F9C645;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

/* pagina donaciones */



/* BOTONERA DONAR */

.botonera-donar{
    grid-area: botonera;
    width: 100%;
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
    
}

.botonera-info{
    align-self: center;
    width: 65%;
    text-align: center;

}
.donaciones-lista{
    list-style: none;
}
.donaciones-lista *{
    margin: 20px 0;
}

.donaciones-lista p{
    font-size: 20px;
    line-height: 1.6;
}

.donaciones-lista button{
    width: 100%;
    height: 60px;
    font-size: 20px;

    font-weight: 500;
    border: none;
}

.donacion-unica .boton-estilo{
    background-color: #6A76E5;
}

  @keyframes zoom{
    to{
        transform: scale(1.5);
    }
  }

  img:hover{
    animation-name:zoom;
    animation-duration: 4s;
    transition: all 0.2s ease;
  }



/* -------------------inicio pagina donaciones----------------- */
.donaciones-grid-container{
    grid-area:contenido;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: "info info"
                         "foto botonera";
}
.info-donaciones{
    grid-area:info;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foto-lateral-elipse{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);

}
.foto-lateral-elipse>img{
    width: 120%;

}


.objetivos-donaciones{
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 650px;
}
.objetivos-donaciones.variante-a{
    border: solid 5px #F9C645;
}
.objetivos-donaciones.variante-b{
    border: solid 5px #6A76E5;
}
.objetivos-donaciones *{
    margin: 0px 20px;
}

.row-donaciones{
    align-items: center;
}



@media screen and (max-width: 768px) {

    /* BANNER */
    .row-banner{
        height: auto;
    }
    
    .col-banner p{
        font-size: 30px;
        font-weight: 500;
    }


    .col-image-aside{
        margin-top: 30px;
        height: 200px;
        width: 100vw !important;

    }
    .col-image-aside>img{
        border-radius: 0%;
        width: 100%;
    }


    /* index */

    .foto-integrante img{
        width: 100%;
        height: 100%;
    }

}
