/*ELIPSES+ICON+TEXT*/

.propuestas-contenedor {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.propuestas {
    width: 250px;
    height: 250px;
    left: 37px;
    top: 800px;
    border-radius: 50%;
    border: 12px solid #F9C645;
}


.propuestas-azul{
    border: 12px solid #6A76E5;
}


.descripcion-propuestas{
    justify-content: center;
    padding: 10px;
    font-size: small;

}


/* ICONOS DE PROPUESTA CONTENEDOR */

.icono-propuestas {
    height: 70px;
}







/*PRESENTACION EQUIPO*/

.titulo-equipo {
    text-align: center;
}

.nombre-equipo {
    text-align: center;
}

.directivos {
    display: flex;
    justify-content: space-evenly;
}

.foto-integrante {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.foto-integrante img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
}

.docentes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.presentacion-seccion>.main-photo {
    justify-content: center;
}

.presentacion-equipo{
    margin-top: 50px;
}