#presentacion-seccion>.main-photo {
    justify-content: center;
}

/* CONTENEDOR DEL FORMULARIO */
.formulario-cv{
    width: 100%;
    height: 600px;         
    position: relative; 
    padding: 5%;
    background: rgba(106, 118, 229, 0.78);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: inline-block;
}
.formulario-cv *{
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;

}

/* CONTENEDOR DE DATOS PERSONALES */
.datos-personales{
    width: 100%;
    background-color: #14010107;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: stretch;
}
.datos-personales input{
    width: 48.9%;
    height: 100px;
    background: #FBFBFB;
    border-radius: 4px 4px 0px 0px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* CONTENEDOR DE CHECKBOXS */
.tit-check{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    
    position: absolute;
    left: 50px;
    bottom: 130px;
}
.option input{
    margin: 0px 15px 0px 10px;
    height: 20px;
    width: 20px;
}

/* CONTENEDOR DE SUBIDA DE ARCHIVO */
.agregar-archivo{
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    right: 50px;
    bottom: 170px;
}

.label-archivo{
    display:flex;
    height: 50px;

}
.label-archivo-contenido{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.label-archivo-contenido *{
    color: black;
}

/* CONTENEDOR DEL MENSAJE INFORMATIVO */
.form-info{
    width: 500px;
    position: absolute;
    bottom: 30px;
    left: 60px;
    
}

/* CONTENEDOR DEL BOTON DE SUBMIT */
#boton-enviar{
    width: 260px;
    position: absolute;
    bottom: 25px;
    right: 30px;
}
.submit{
    height: 60px;
    width: 100%;
    border: none;
}