//Paleta de colores
$colorPrincipal: #F9C645;
$colorSecundario: #6A76E5;
$colorFondo: #F8F8F8;
$colorTitulos: #090C26;
$colorTexto: #000000;

//Tipografia
$fuenteUnica: 'Manrope', sans-serif;


//Responsive
$mobile: 746px;
$tablet: 952px;

//Mixin

@mixin banner-foto{
    display: block;
    background-size: cover;
    background-position: center;
    opacity: .7;
    z-index: -1;
    top: 100%;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}





