//Paleta de colores
$colorPrincipal: #F9C645;
$colorSecundario: #6A76E5;
$colorFondo: #F8F8F8;
$colorTitulos: #090C26;
$colorTexto: #000000;

//Tipografia
$fuenteUnica: 'Manrope', sans-serif;

//Media
$mobile: 746px;
$tablet: 952px;


