* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}
body img {
  max-width: 1200px;
}
body .contenido__principal, body > section {
  max-width: 1326px;
}

.header {
  background: #F9C645;
  height: 80px;
  width: 100%;
  font-family: "Manrope", sans-serif;
}
.header__enlace {
  position: absolute;
  padding: 20px 50px;
}
.header__logo {
  height: 40px;
}
.header ul {
  float: right;
  margin-right: 20px;
}
.header__lista {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.header__entradas {
  color: #000000;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.header__checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.header #check {
  display: none;
}

.banner {
  width: 100%;
}
.banner_elementos {
  background-image: url("../Imagenes/nenes-1.png");
  display: block;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_elementos h1 {
  align-content: center;
  font-family: "Manrope", sans-serif;
  font-size: 60px;
  color: #F8F8F8;
}

.seccion {
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  background-color: #6A76E5;
}
.seccion h2 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #F8F8F8;
}

.contenido__principal {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 20px;
  grid-template-areas: "textoP fotoA";
}
.contenido__principal .contenido__textoInicial {
  grid-area: textoP;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  gap: 20px;
}
.contenido__principal .contenido__textoInicial h3 {
  font-size: 25px;
}
.contenido__principal .contenido__textoInicial p {
  font-size: 15px;
  font-weight: normal;
  width: 100%;
}
.contenido__principal .contenido__imgcostado {
  grid-area: fotoA;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}
.contenido__principal .contenido__imgcostado img {
  height: 100%;
  width: 400px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -20px 0px 40px 20px;
  box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
}
.contenido__home {
  display: flex;
  flex-wrap: wrap;
}
.contenido__home .contenido__propuestas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.contenido__home .contenido__propuestas > div {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: center;
  border: 8px solid #F9C645;
}
.contenido__home .contenido__propuestas > div .icono__propuestas {
  align-self: center;
  height: 40px;
}
.contenido__home .contenido__propuestas > div .icono__propuestas i {
  scale: 2;
}
.contenido__home .contenido__propuestas > div .descripcion__propuestas {
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: small;
}
.contenido__equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
}
.contenido__equipo .directivos,
.contenido__equipo .docentes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
}
.contenido__equipo .directivos .card,
.contenido__equipo .docentes .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px;
  width: 300px;
  gap: 30px;
}
.contenido__equipo .directivos .card .avatar,
.contenido__equipo .docentes .card .avatar {
  background-size: cover;
  width: 100%;
  border-radius: 50%;
  box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.contenido__equipo .directivos .card .avatar img,
.contenido__equipo .docentes .card .avatar img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenido__equipo .directivos .card .avatar:after,
.contenido__equipo .docentes .card .avatar:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.contenido__proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contenido__proyectos ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0px;
  row-gap: 30px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.contenido__proyectos .tarjeta__proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  text-align: center;
  gap: 20px;
}
.contenido__proyectos .tarjeta__proyecto div {
  background-size: cover;
  width: 100%;
  border-radius: 50%;
  box-shadow: -8px 9px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.contenido__proyectos .tarjeta__proyecto div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenido__proyectos .tarjeta__proyecto div:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.contenido__proyectos .tarjeta__proyecto div.imagen-1 {
  background-image: url("./../Imagenes/nenes-5.JPG");
}
.contenido__proyectos .tarjeta__proyecto div.imagen-2 {
  background-image: url("./../Imagenes/profe-nenes-2.jpg");
}
.contenido__proyectos .tarjeta__proyecto div.imagen-3 {
  background-image: url("./../Imagenes/profe-nenes-4.jpg");
}
.contenido__proyectos .tarjeta__proyecto div.mas-info {
  display: flex;
  align-items: center;
  background-color: #6A76E5;
  padding: 10%;
}
.contenido__proyectos .tarjeta__proyecto div.mas-info p {
  color: #F8F8F8;
}
.contenido__proyectos .tarjeta__proyecto button {
  width: 80%;
  height: 35px;
  background-color: #F9C645;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.footer {
  background-color: #F9C645;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__col {
  min-width: 300px;
  color: #F8F8F8;
  font-family: "Manrope", sans-serif;
  padding: 0rem;
}
.footer__col p {
  width: 80%;
}
.footer__col h3 {
  color: #090C26;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.footer__col .footer__logo {
  width: 120px;
  margin-bottom: 20px;
}
.footer__col h3::after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #090C26;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.footer__col h3:hover::after {
  width: 100px;
}
.footer__col .footer__redes a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10%;
}
.footer__col .footer__redes a i {
  color: #090C26;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.footer__col .footer__redes a i:hover {
  transform: scale(1.5);
  color: #090C26;
}
.footer__col .footer__link a {
  display: block;
  text-decoration: none;
  color: #F8F8F8;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.footer__col .footer__link a:before {
  content: "";
  height: 12px;
  width: 3x;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #090C26;
  transition: 0.5s ease;
  opacity: 0;
}
.footer__col .footer__link a:hover::after {
  opacity: 1;
}
.footer__col .footer__link a:hover {
  transform: translateX(-8px);
  color: #090C26;
}
.footer__col .footer__datoscontacto {
  display: inline-flex;
  justify-content: space-between;
}
.footer__col .footer__datoscontacto i {
  margin-right: 15px;
}
.footer__row .footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
}
.footer__row .footer__form input {
  background-color: #F8F8F8;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.footer__form button {
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #6A76E5;
}

@media (max-width: 952px) {
  .header {
    z-index: 100;
  }
  .header__enlace {
    padding-left: 20px;
  }
  .header__entradas {
    font-size: 13px;
  }
  .banner h1 {
    font-size: 40px;
    text-align: center;
  }
  .contenido__principal {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "textoP" "fotoA";
  }
  .contenido__principal .contenido__textoInicial h3 {
    font-size: 25px;
  }
  .contenido__principal .contenido__textoInicial p {
    font-size: 15px;
    font-weight: normal;
  }
  .contenido__principal .contenido__imgcostado {
    height: auto;
    margin: 0%;
    width: 100%;
  }
  .contenido__principal .contenido__imgcostado img {
    width: 100%;
    height: 60%;
    border-radius: 0%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0%;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 746px) {
  .header {
    z-index: 100;
    top: 0;
    position: fixed;
  }
  .header__checkbtn {
    display: block;
  }
  .header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #6A76E5;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header__lista {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .header__entradas {
    font-size: 15px;
  }
  #check:checked ~ #listaNavbar {
    left: 0;
  }
  .banner h1 {
    font-size: 30px;
    text-align: center;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .contenido__home {
    color: black;
  }
}/*# sourceMappingURL=main.css.map */