/* LISTAS DE PROYECTOS */
.lista-proyectos{
    margin: 50px 0px;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta-proyecto{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.tarjeta-proyecto img{
    height: 300px;
    width: 100%;
    border-radius: 50%;
    box-shadow: -8px 9px 20px rgb(0 0 0 / 25%);
    /* por definirle un ancho y alto irregular las estaba estirando 
    asi que lo resuelvo con  */
    object-fit: cover;
}
.tarjeta-proyecto button{
    width: 360px;
    height: 35px;
}
.tarjeta-proyecto .mas-info{
    width: 300px;
    height: 300px;
    background-color: #6A76E5;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.grid-container-proyectos{
    display: grid;
    grid-template-areas: 
                "header"
                "banner"
                "principal"
                "proyectos"
                "proyectos"
                "footer"
}
/* .grid-container-proyectos{
    display: grid;
    grid-template-areas: 
                "header"
                "banner"
                "principal"
                "proyectos"
                "proyectos"
                "proyectos"
                "proyectos"
                "footer footer";
} */

.proyectos-grid-item-1{
    grid-area: principal;
}
.proyectos-grid-item-2{
    grid-area: proyectos;
}
.header{
    grid-area:header;
}
.banner{
    grid-area:banner;
}
.footer{
    grid-area: footer;
}
